[submodule "third_party/dawn"]
	path = third_party/dawn
	url = https://dawn.googlesource.com/dawn
[submodule "third_party/range-v3"]
	path = third_party/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
